<div style="display: flex;justify-content: center; align-items: center; height: 100vh;">
    <mat-card>
      <mat-card-content>
        <h1>Giriş Yap</h1>
        <form [formGroup]="loginForm" style="display: flex; flex-direction: column;min-width: 30vw;">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email zorunludur
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Doğru formatta giriniz
          </mat-error>
          <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Şifre zorunludur
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            Şifreyi minimum 8 karakter uzunluğunda giriniz.
          </mat-error>
          <mat-form-field>
            <mat-label>Şifre</mat-label>
            <input matInput formControlName="password">
          </mat-form-field>
          <div style="display: flex;align-items: center;justify-content: space-between;">
            <a mat-button routerLink="/create-user" style="color:black;text-decoration: none;">Kayıt Ol</a>
            <button mat-raised-button [disabled]="loginForm.invalid" color="primary">Giriş Yap</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>  
  </div>
  